{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
</head>

<body>
    <div class="container">
        <form method="POST" action="/update/{{employee.id}}">
            {% csrf_token %}
            <br>
            <!-- <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Id:</label>
                <div class="col-sm-4">
                    <input type="text" name="e_id" id="id_e_id" required maxlength="20" value="{{ employee.e_id }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="e_name" id="id_e_name" required maxlength="100"
                        value="{{ employee.e_name }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Designation:</label>
                <div class="col-sm-4">
                    <input type="text" name="e_designation" id="id_e_designation" required maxlength="100"
                        value="{{ employee.e_designation }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Email:</label>
                <div class="col-sm-4">
                    <input type="email" name="e_email" id="id_e_email" required maxlength="254"
                        value="{{ employee.e_email }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Contact:</label>
                <div class="col-sm-4">
                    <input type="text" name="e_contact" id="id_e_contact" required maxlength="15"
                        value="{{ employee.e_contact }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div> -->

            <div>
                <h2>Update Employee Details</h2>
            </div>

            <ul>
                <li>
                  <label for="name">Employee Id:</label>
                  <input type="text" name="e_id" id="id_e_id" required maxlength="20" value="{{ employee.e_id }}" />
                </li>
                <li>
                  <label for="name">Employee Name:</label>
                  <input type="text" name="e_name" id="id_e_name" required maxlength="100"
                        value="{{ employee.e_name }}" />
                </li>
                <li>
                  <label for="mail">Employee Designation:</label>
                  <input type="text" name="e_designation" id="id_e_designation" required maxlength="100"
                        value="{{ employee.e_designation }}" />
                </li>
                <li>
                  <label for="msg">Employee Email:</label>
                  <input type="email" name="e_email" id="id_e_email" required maxlength="254"
                        value="{{ employee.e_email }}" />
                </li>
                <li>
                  <label for="msg">Employee Contact:</label>
                  <input type="text" name="e_contact" id="id_e_contact" required maxlength="15"
                        value="{{ employee.e_contact }}" />
                </li>
                <li >
                    <center><button type="submit" class="btn btn-primary">Update</button></center>
                </li>
            </ul>
        </form>
    </div>
</body>

</html>