<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
</head>

<body>
    <div class="container">
        <div>
            <h2>Enater Employee Details</h2>
        </div>
        <form action="" method="POST">
            {% csrf_token %}

            <!-- <ul> -->
                <!-- <li> -->
                  <label for="name">Employee Id:</label>
                  {{ form.e_id }}
                <!-- </li>
                <li> -->
                  <label for="name">Employee Name:</label>
                  {{ form.e_name }}
                <!-- </li> -->
                <!-- <li> -->
                  <label for="mail">Employee Designation:</label>
                  {{ form.e_designation}}
                <!-- </li> -->
                <!-- <li> -->
                  <label for="msg">Employee Email:</label>
                  {{ form.e_email}}
                <!-- </li> -->
                <!-- <li> -->
                  <label for="msg">Employee Contact:</label>
                  {{ form.e_contact }}
                <!-- </li> -->
                <!-- <li > -->
                  <input type="submit" value="Add Record" />
                <!-- </li> -->
            <!-- </ul> -->
        </form>
    </div>
</body>

</html>