{% load static %}
<html>
    <head>
        <title>Show</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>

    <body>
        <form action='/show/1' method='GET'>
            {% csrf_token %}
            <input type='text' placeholder='search' name='search' />
            <input type='submit' />
        </form>
        <table>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Designation</th>
                <th>Employee Email</th>
                <th>Employee Contact</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.e_id }}</td>
                    <td>{{ employee.e_name }}</td>
                    <td>{{ employee.e_designation }}</td>
                    <td>{{ employee.e_email }}</td>
                    <td>{{ employee.e_contact }}</td>
                    <td>
                        <button class="buttona"><a href="/update/{{ employee.id }}/{{current_page}}"><span
                                    class="glyphicon glyphicon-pencil">Edit</span></a></button>
                        <button class="buttona"><a href={% url 'delete' id=employee.id page=current_page %}>Delete</a><button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <form action='' method='GET'>
            {% csrf_token %}
            {% for page_no in total_page %}
            <button>
                <a href={% url 'show_name' page=page_no %}>{{page_no}}</a>
            </button>
            {% endfor %}
        </form>
        <br>
        <center><button class="buttona"><a href="/emp">Add New Record</a></button></center>
    </body>

</html>